<!DOCTYPE html>
<html lang="en">
<head>
    <title>Catalog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <!--===============================================================================================-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">    </script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
<body>



<div class="limiter">
    <div class="container-login100" style="background-image: url('../static/bg-01.jpg');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form class="login100-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Sign In With
					</span>



                <div id="result"></div>

                <div id="signinButton">
                      <span class="g-signin"
                            data-scope="openid email"
                            data-clientid="593844266845-mvlnboji4iurroh9h9mvqelfbf1v4rns.apps.googleusercontent.com"
                            data-redirecturi="postmessage"
                            data-accesstype="offline"
                            data-cookiepolicy="single_host_origin"
                            data-callback="signInCallback"
                            data-approvalprompt="force">
                      </span>
                </div>

                <button>
                    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                        <a href='javascript:sendTokenToServer()'>    Sign In </a>
                    </fb:login-button>
                </button>



            </form>
        </div>

    </div>
</div>


<script>
    function signInCallback(authResult) {
        console.log('Entered signInCallback Function ');
        if (authResult['code']) {

            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');

            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                        setTimeout(function () {
                            window.location.href = "/category";
                        }, 4000);


                    } else if (authResult['error']) {

                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }

                }

            });
        }
    }
</script>


<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->
<script>
    window.fbAsyncInit = function () {

        FB.init({
            appId: '145191866189599',
            cookie: true,  // enable cookies to allow the server to access
                           // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.8' // use version 2.8
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
        console.log('Entered sendTokenToServer Function');
        var access_token = FB.getAuthResponse()['accessToken'];
        console.log('access token'+ access_token)
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{STATE}}',
                processData: false,
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                        setTimeout(function () {
                            window.location.href = "/category";
                        }, 4000);


                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }

                }

            });


        });
    }
</script>


</body>


</html>